h1.text-center
  = t 'title.Welcome'
menu[type="navi"]
  - (APP_CONFIG['modules'].presence || []).each do |name|
    li
      = link_to t(name.capitalize), send(name.downcase + '_path'), data: { no_turbolink: true }
