doctype html
html[ng-app="#{ng_app ||= 'mainApp'}"]
  head
    title= content_for?(:title) ? yield(:title) : "MainApp"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = yield :head
    = csrf_meta_tags
  body
    #wrapper
      = render :partial => "/layouts/navi"
      .container
        .row
          .col-md-12
            = bootstrap_flash
            = yield
        #push
    #footer
      p &copy; ****** 2015
